# Flask>=3.0
# numpy>=1.26
# matplotlib>=3.0
# Flask-Bootstrap>=3.3
# jinja2>=3.1.6

# versions actuelles
# Flask==3.0.0
# numpy==1.26.3
# matplotlib==3.8.2
# Flask-Bootstrap==3.3.7.1
# Jinja2==3.1.4

Flask
numpy
matplotlib
Flask-Bootstrap
jinja2