/* styles.css */
* {
    color: white;
}
body {
    opacity: 1;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/istockphoto_1363932383.jpg"); /* L'image en fond */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: white;
}
hr {
    border: 2px solid white;
}
.item_hr {
    border: 2px dashed white;
}
