<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_flask_WStation.ico') }}">
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- fichier de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Page d'accueil - White Station Project</title>
</head>
<body>
    {% include "navbarmenu.html" %}
    <h1 class="mt-2">Bienvenue sur le projet White Station</h1>

    <p>Pour voir les statistiques des analyses c'est par ici</p>
    <p class="btn btn-primary">
        <a href="{{ url_for('statistiques') }}" class="text-white">Cliquez-ici</a>
    </p>
    
    <script type="text/javascript">
        // Passer usb_data depuis Flask
        var usb_data = {{ usb_data | tojson | safe}};
        console.log("usb_data:", usb_data);  // This will log to the browser console
    </script>

    <!-- cas d'utilisation avec liste imbriquant du json -->
    <h1>List of USB Devices</h1>
    <hr>
    <ul>
        {% for item in usb_data %}
        <hr class="item_hr">
        <li>
            <strong>ID:</strong> {{ item.usb_id }}<br>
            <strong>Name:</strong> {{ item.usb_name }}<br>
            <strong>Details:</strong>
            <ul>
                <li>Capacity: {{ item.details.capacity }}</li>
                <li>Brand: {{ item.details.brand }}</li>
            </ul>
        </li>
        <hr class="item_hr">
        {% endfor %}
    </ul>
    <hr>

    <!-- Bootstrap core JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->

     <!-- jQuery -->
     <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}"></script>
     <!-- Popper.js -->
     <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
     <!-- Bootstrap JS -->
     <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
