<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_flask_WStation.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- fichier de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Page d'accueil - W Station Project</title>
    <!-- <style>
        body {
            width: 100vw;
            height: 100vh;
            background: linear-gradient(to bottom, blue, purple, red);
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
        }
        div {
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
    </style> -->
    <style>
        p, a {
            color: black;
            /* text-shadow: 2px 2px #5d17a3; */
        }
    </style>
</head>
<body>
    {% include "navbarmenu.html" %}
    <!-- <h1 class="shadow p-3 mb-5 bg-white rounded">Bienvenue sur le projet W Station</h1> -->
    <h1>Bienvenue sur le projet W Station</h1>
    <img src="../static/ImageUsbWhiteStation-removebg-preview.png" alt="ImageUsbWhiteStation-removebg-preview" class="mt-5 mb-5">
    <!-- <p class="shadow p-3 mb-5 bg-white rounded">Pour voir les statistiques des analyses réalisées, l'entrée est ci-dessous</p> -->
    <h2>Pour voir les statistiques des analyses réalisées, l'entrée est ci-dessous</h2>
    <p class="btn btn-info">
        <a href="{{ url_for('statistiques') }}">statistiques des analyses</a>
    </p>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}"></script>
    <!-- Popper.js -->
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
