<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
</head>
<body>
    <nav>
        <div id="navbar_menu">
            {% block navbar_menu %}
            <!-- Default content if not overridden -->
            {% endblock %}
        </div>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
