<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_flask_WStation.ico') }}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- fichier de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>White Station Project</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            background: linear-gradient(to bottom, blue, purple, red);
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
        }
        div {
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
    </style>
</head>
<body>
    <h1>Welcome on the White Station Project application</h1>
    <div>
        <img src="../static/natalie-cameron-diaz.gif" alt="A fun GIF" class="mt-5">
    </div>
    <div>
        <h2>
            <a href="{{ url_for('accueil') }}">
                <i class="bi bi-arrow-right text-white">&nbsp;Accueil</i>
            </a>
        </h2>
    </div>
    

    <!-- Bootstrap core JS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
