<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./pictures/favicon_flask_WStation.ico') }}">
    <title>statistiques results</title>
</head>
<body>
    <h1>Pie Chart of Categories</h1>
    <img src="data:image/png;base64,{{ image_base64 }}" alt="Pie Chart">
</body>
</html>