<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_flask_WStation.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- fichier de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>statistiques des résultats d'analyses</title>
</head>
<body>
{% include "navbarmenu.html" %}
<h1 class="mt-2">Résultats d'analyses</h1>

<div>
    {% if usb_datas_list_content %}
        <ul> 
            {% for usb_data in usb_datas_list_content.usb_datas_list_content %}
                <hr class="item_hr">
                <li>
                    <strong>Clé USB</strong><br>
                    <strong>ID:</strong> {{ usb_data.usb_id }}<br>
                    <strong>Total Malwares:</strong> {{ usb_data.total_malwares }}<br>
                    {% if usb_data.malware_types %}
                        <strong>Details:</strong>
                        {% if usb_data.malware_types.virus %}<td>Virus: {{ usb_data.malware_types.virus }}</td>{% endif %}
                        {% if usb_data.malware_types.trojan %}<td>Trojan: {{ usb_data.malware_types.trojan }}</td>{% endif %}
                        {% if usb_data.malware_types.ransomware %}<td>Ransomware: {{ usb_data.malware_types.ransomware }}</td>{% endif %}
                        {% if usb_data.malware_types.worm %}<td>Worm: {{ usb_data.malware_types.worm }}</td>{% endif %}
                    {% endif %}
                </li>
                <hr class="item_hr">
            {% endfor %}
        </ul>
    {% endif %}
</div>

<!-- jQuery -->
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}"></script>
<!-- Popper.js -->
<script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Bootstrap core JS
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
</body>