<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./pictures/icon_warning.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- fichier de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>401 - unauthorized</title>
    <style>
        body {
            height: 100vh;
        }
        .main {
            height: 67vh;
            width: 70vw;
            margin-left: 10vw;
            margin-right: 10vw;
            margin-top: 3vh;
            margin-bottom: 3vh;
            padding-top: 3vh;
        }
        h2 {
            padding-top: 0.5em;
        }
        .img-fluid {
            width: 35%;
            height: 35%;
        }
    </style>
</head>
<body>
    <!-- Container pour aligner la navbar à droite -->
    <div class="d-flex justify-content-end align-items-center mb-3">
        {% include "navbarmenu.html" %}
    </div>
    
    <!-- Partie principale -->
    <div class="bg-dark text-white main rounded-5">
        <h2 class="text-center">401 ACCES NON AUTORISE</h2>
        <div class="text-center mb-2">
            <img src="{{ url_for('static', filename='pictures/icon_warning.png') }}" alt="icon_warning" class="img-fluid">
        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}"></script>
    <!-- Popper.js -->
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>